XamarinPrismX/XamarinPrismX.Android/bin/
XamarinPrismX/XamarinPrismX.Android/obj/XamarinPrismX.Android.csproj.nuget.cache
XamarinPrismX/XamarinPrismX.Android/obj/Debug/MonoAndroid,Version=v9.0.AssemblyAttributes.cs
XamarinPrismX/XamarinPrismX.Android/obj/Debug/90/__environment__.txt
XamarinPrismX/XamarinPrismX.Android/obj/XamarinPrismX.Android.csproj.nuget.dgspec.json
XamarinPrismX/XamarinPrismX.Android/obj/
XamarinPrismX/XamarinPrismX/obj/Debug/netstandard2.0/XamarinPrismX.csprojAssemblyReference.cache
XamarinPrismX/XamarinPrismX/obj/
XamarinPrismX/XamarinPrismX.iOS/obj/
XamarinPrismX/.vs/XamarinPrismX/DesignTimeBuild/.dtbcache
XamarinPrismX/.vs/XamarinPrismX/v16/
XamarinPrismX/XamarinPrismX.iOS/bin/
